$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav li a {
    color: #000;
}

.nav-tabs > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #000;
     -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    // background: #ddd;
    background: url(/images/barbell.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;
    padding-bottom: 70px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.inc {
    margin-left: 75%;
}

.container-narrow > hr {
    margin: 30px 0;
}

.container {
    background: #fff;
    max-width: 950px;
    opacity: 0.97;
}

/* Main marketing message and sign up button */
.jumbotron {
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    min-height: 150px;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        
        border: 1px solid #e5e5e5;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.form-control {
    margin-bottom: 20px;
    background: #f1f1f1;
}

