$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
nav {
    background-color: #000;
}
.nav li a {
    color: #d6d6d6;
}

.nav li a:hover {
    color: #000;
}

.nav-pills {
    background-color: #000;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 18px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #000;
    background-color: #d6d6d6;
}

/* Space out content a bit */
body {
    padding-top: 0;
    padding-bottom: 20px;
    // background: #ddd;
    background: url(/images/barbell.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;
    margin-top: 0;
    padding-bottom: 0;
    background: #000;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    // position: fixed;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    background: #000;
    width: 100%;
    margin: 0; 
    bottom: 0; 
}

.inc {
    float: right;
    margin-right: 40px;
    padding-bottom: 3%;
    color: #d6d6d6;
}

.container-narrow > hr {
    margin: 30px 0;
}

.container {
    background: #000;
    max-width: 750px;
    min-height: 1000px;
    opacity: 0.98;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;

}

.container .jumbotron {
    border-radius: 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    color: #fff;
    background-color: #000;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    height: 250px;
    .btn {
        font-size: 30px;
        padding: 14px 14px;
        border-radius: 50%;
        background-color: #d6d6d6;
    }
    .btn:hover {
        background-color: #12ad04;
    }
}

/* Supporting marketing content */
.marketing {
    background-color: #fff;
    margin: 40px 0;
    min-height: 800px;
    opacity: 0.87;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        
        // border: 1px solid #e5e5e5;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.titleName {
    color: #12ad04;
    padding-top: 0;
    padding-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
    background: #f1f1f1;
}

.newWod {
    max-width: 400px;
}

.wodLibrary {
    padding-top: 20px;
    padding-left: 23%;
    opacity: 0.89;
    h2 {
        color: #12ad04;
    }
}

article {
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.wodDescription {
    margin-bottom: 10px;
}

textarea.form-control {
    min-height: 200px;
}

.updateWod {
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.deleteWod {
    cursor: pointer;
}

.randomWod {
    margin-left: 50%;
    padding-top: 20px;
}

.submitUpdate {
    background-color: #12ad04;
}

#submitButton {
    font-size: 16px;
}

.lead {
    color: #d6d6d6;
}









